<article class="post">
   <a href="/post/{{id}}">
      <div class="title">
         {{title}}
      </div>
      <div class="meta">
         <div class="text">{{content}}</div>
         <br />
         by
         <b>{{user.username}}</b>
         on
         {{format_date created_at}}
         |
         {{comments.length}}
         {{format_plural "comment" comments.length}}
      </div>
   </a>
</article>